* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
}

h1 {
    color: #f9faf8;
    margin: 0px;
}

ul {
    /*removes bullet points*/
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

a {
    /*removes underline on links*/
    text-decoration: none;
    color: #aeb1b8;
    font-size: 18px;
    min-width: 100px;
}

.headerc {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: auto; 
}

.logo {
    padding: 10px;
    font-size: 24px;
    flex: 1 1 400px; 
    min-width: 140px;
}

.linkbox {
    min-width: 400px;
}

.headerlist {
    display: flex;
    padding-right: 10px;
}

.links {
    font-size: 18px;
}

.mainc {
    background-color: #1f2937;
}
.main {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.awesome {
    width: 300px;
    height: 300px;
    padding: 0px 0px 0px 0px;
    margin: 100px 0px 0px 50px;
    font-weight: extra-bold;
    flex: 1 1 0;
    font-size: 24px;
}

.paragraph {
    color: #aeb1b8;
    font-size: 16px;
    padding-bottom: 4px;
    max-width: 500px;
}

.button1,
.button2 {
    border-radius: 5px;
    background-color: #3882F6;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    
}

.button1 {
    border-width: 0px;
    margin: 0px;
    padding: 6px 26px;
}

.button1:hover {
    background-color: white;
    color:#3882F6;
}

.farm {
    width: 40%;
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 80px 50px 80px 50px;
}

.main2 {
    height: 400px;
    max-width: 1100px;
    margin: auto;

}

.title2 {
    color:#1f2937;
    font-weight: 900;
    font-size: 30px;
    margin: 50px auto;
    display: block;
    width: 400px;
}

.boxcontainer {
    display: flex;
    justify-content: space-evenly;
}

.border {
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    margin: auto;
}

.pictext {
    text-align: center;
    margin: 10px 0px;
    font-size: 16px;
    width: 150px;
    color: #4d4d4d;
}

.main3c {
    background-color: #d1d5df;
}

.main3 {
    /*height: 500px;*/
    max-width: 1000px;
    margin: auto;
}

.quote {
    font-size: 36px;
    font-family: "Roboto";
    color: rgb(78, 78, 78);
    padding: 100px 50px 0px;
    font-size: 300;
    margin: 0px;
}

.credit  {
    text-align: right;
    font-weight: bold;
    padding: 20px 100px 100px 0px;
    margin: 0px
}

.main4c{
    /*height: 250px;*/
    display: flex;
    justify-content: center;
}

.main4{
    margin: 80px 50px;
    background-color: #3882F6;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 1150px
}

.left4{
    margin-left: 50px;
}

.cta{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 1px;
}

.subheading4{
    color: white;
    font-size: 14px;
}

.button2{
    margin: 0px 50px;
    width: 110px;
    box-sizing: border-box;
    padding: 6px 0px;
    border: 2px white solid;
}

.button2:hover{
    background-color: white;
    color:#3882F6;
}

.footerc{
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    color: rgb(187, 187, 187);
}
    

.copyright{
    color: white;
}
