* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
      
}

.logo {
    padding: 10px;
    font-size: 24px;
    flex: 1 1 400px; 
    min-width: 140px;
}

.links {
    font-size: 18px;
}

.linkbox {
    flex: 1 1 400px;
    min-width: 400px;
}

.sidediv {
    /*makes empty space shrink with page first*/
    width: 10px;
    height: 100px;
    flex: 2 0 0px
}

.headerlist {
    display: flex;
    padding-right: 10px;
}

h1 {
    color: #f9faf8;
    margin: 0px;
}

ul {
    /*removes bullet points*/
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

a {
    /*removes underline on links*/
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    min-width: 100px;
}

